.createPswd{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    grid-area: create;
}
.createForm{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.createLabel{
    margin: 5px;
}
.createInput{
    margin: 5px;
}
.createText{
    width: 325px;
}
.createLengthField{
    width: 40px;
}
.createSubmit{
    color: rgb(42, 91, 133);
    align-self: flex-end;
    font-family: fantasy;
}
.errorMsg{
    color: red;
    margin-top: 15px;
}
@media(max-width: 940px){
    .createText{
        width: 200px;
    }
    .createLengthField{
        width: 15px;
    }
    .createLabel{
        margin: 2px;
    }
    .createInput{
        margin: 2px;
    }
}