.listPswd{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}
.tableHeader{
    padding: 15px;
}
.tableData{
    padding: 15px;
}
.iconImage{
    height: 25px;
    width: 25px;
}
.copyIconImage{
    height: 14px;
    width: 14px;
}
.searchInput{
    align-self: flex-start;
}
@media(max-width: 940px){
    table#pswdDetailsTable td:nth-child(4) {
        display: none;
    }
    #lastUpdated{
        display: none;
    }
    .tableHeader{
        padding: 6px;
    }
    .tableData{
        padding: 6px;
    }
    .iconImage{
        height: 18px;
        width: 18px;
    }
}