.pswdManager{
    display: grid;
    grid-template-areas: 
        "create list"
        "share list"
        "notify list";
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 25% 35%;    
    grid-area: main;
    overflow: scroll;
}
.editPswd{
    grid-area: list;
}
.listPswds{
    grid-area: list;
}

@media(max-width: 940px){
    .pswdManager{
        grid-template-areas: 
            "create"
            "list"
            "share"
            "notify";
        grid-template-columns: 100%;
        grid-template-rows: 30% 40% 15% 15%;
    }
    .editPswd{
        overflow: scroll;
    }
    .listPswds{
        overflow: scroll;
    }
}