.pswdNotification{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    grid-area: notify;
}
.notifButton{
    color: rgb(42, 91, 133);
    font-family: fantasy;
    margin-left: 5px;
}